.header {
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.logo {
	width: 120px;
	height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 28px 16px 0;
	color: #fff;
	font: 18px Arial;
}
